<nav class="sidebar">
  <div class="sidebar-logo">
    <span class="material-icons">local_library</span>
    <h2>BlockLearn</h2>
    <div>
      <h3>Welcome: {{student.name}} {{student.lastName}}</h3>
    </div>
  </div>
  <ul class="sidebar-menu">
    <li [routerLink]="[`/student/${student.id}`]">
      <span class="material-icons">person</span>
      Profile
    </li>
    <li [routerLink]="[`/student/courses/${student.id}`]">
      <span class="material-icons">book</span>
      Courses
    </li>
    <li [routerLink]="[`/student/certificates/${student.id}`]">
      <span class="material-icons">star</span>
      Certificates
    </li>
    <li>
      <span class="material-icons">token</span>
      Blockchain
    </li>
  </ul>
</nav>
