.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e2a38;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 2rem;
}

.sidebar-logo img {
  width: 30px;
  height: 30px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  display: flex; /* Para que el texto y el icono estén en una línea */
  align-items: center; /* Alinea el icono y el texto verticalmente */
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: #3b4b5b;
}

.sidebar-menu li .material-icons {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 24;
}
