<nav class="sidebar">
  <div class="sidebar-logo">
    <img ngSrc="../assets/logo.png" alt="BlockLearn Logo" height="370" width="834"/>
    <h2>BlockLearn</h2>
  </div>
  <ul class="sidebar-menu">
    <li routerLink="/student/profile" routerLinkActive="active">Profile</li>
    <li routerLink="/student/courses" routerLinkActive="active">Courses</li>
    <li routerLink="/student/certificates" routerLinkActive="active">Certificates</li>
    <li routerLink="/student/blockchain" routerLinkActive="active">Blockchain</li>
  </ul>
</nav>
