<mat-sidenav-container class="sidebar-container">
  <!-- Side Navigation -->
  <mat-sidenav
    class="sidebar"
    [mode]="'side'"
    [opened]="opened"
    role="navigation"
    aria-label="Student menu"
  >
    <!-- Header con logo + nombre -->
    <mat-toolbar class="sidebar-header" color="primary">
      <span class="material-icons">local_library</span>
      <h2>BlockLearn</h2>
    </mat-toolbar>

    <!-- Bienvenida -->

    <!-- Opciones -->
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/student/profile', studentId]"
        routerLinkActive="active"
        aria-label="Go to Profile"
      >
        <mat-icon matListIcon>person_outline</mat-icon>
        <span>PROFILE</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/student/courses', studentId]"
        routerLinkActive="active"
        aria-label="Go to Courses"
      >
        <mat-icon matListIcon>book</mat-icon>
        <span>COURSES</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/student/certificates', studentId]"
        routerLinkActive="active"
        aria-label="Go to Certificates"
      >
        <mat-icon matListIcon>star</mat-icon>
        <span>CERTIFICATES</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/student/blockchain', studentId]"
        routerLinkActive="active"
        aria-label="Go to Blockchain"
      >
        <mat-icon matListIcon>hub</mat-icon>
        <span>BLOCKCHAIN</span>
      </a>
      <a
        mat-list-item
        routerLink="/login"
        routerLinkActive="active"
        aria-label="Go to login"
      >
        <mat-icon matListIcon>login</mat-icon>
        <span>LOGIN</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content class="content">
    <!-- Botón hamburguesa visible solo en pantallas pequeñas -->
    <mat-toolbar class="mobile-toolbar" color="primary">
      <button
        mat-icon-button
        (click)="toggleSidenav()"
        aria-label="Toggle sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Rutas hijas -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
